---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Presentacion from '../components/Presentacion.astro';

---


<Layout title="Mi Portfolio - Inicio">
	
	<Presentacion />
	<section id="about">
		<About />
	</section>
	<section id="projects">
		<Projects />
	</section>
	<section id="contact">
		<Contact />
	</section>
</Layout>

<style>
	.navegacion {
		position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
		padding: 1rem;
		background-color: #4a148c;
		backdrop-filter: blur(10px);
		 
		display: flex;
		gap: 2rem;
	}

	.navegacion a {
		text-decoration: none;
		color: white; 
		transition: color 0.3s ease;
	}


	/* Light purple on hover */
	.navegacion a:hover {
		color: #e1bee7; 
	}

</style>

<style>
	/* Estilos específicos de la página de inicio */
	/* Puedes agregar estilos adicionales aquí */
</style>